@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Country Music</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Hello Counrty Fans!</h2>
    </div>

    <div class="col-md-6">
        <h2>Country Music Info</h2>
        @Html.ActionLink("MusicData", "Index", "MusicAlbum")
    </div>
</div>